# Local development directories
.idea/
*.iml
.gradle


# Mac
.DS_Store

# Crash log files
crash.log


# Ignore override files as they are usually used to override resources locally and so
# are not checked in
secrets.yaml

# Include override files you do wish to add to version control using negated pattern
#

z_old/*
/.vs/slnx.sqlite
/.vs
.vscode/*